**1 B)**

In [7]:
import pandas as pd

df = pd.read_excel("data/betyg_o_prov_riksnivå.xlsx")
df

,Grundskolan – Betyg och Prov – Riksnivå,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tabell 1A: Elever som avslutat årskurs 9 läsår...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Läsår\nHuvudman\nBakgrund,Elever som avslutat åk 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Totalt,Flickor,Pojkar,därav elever,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,med slutbetyg1,NaN,NaN,med godkända\nslutbetyg,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
9,2018/19,112731,54667,58064,112280,54430,57850,110663,53757,56906
10,2019/20,115023,55670,59353,114444,55389,59055,112728,54711,58017
11,2020/21,116359,56715,59644,115710,56394,59316,114136,55721,58415
12,2021/22,120525,58513,62012,119891,58207,61684,117935,57312,60623
13,2022/23,121369,59043,62326,120742,58703,62039,118736,57781,60955
14,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Kommun,96204,46478,49726,95991,46363,49628,94276,45588,48688
16,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Internationella skolor,213,115,98,.,.,.,.,.,.
18,Enskild,25165,12565,12600,24751,12340,12411,24460,12193,12267
19,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Allmän inriktning,23085,11511,11574,23085,11511,11574,22815,11372,11443
21,Konfessionell,1036,532,504,1036,532,504,1025,526,499
22,Waldorf,630,297,333,630,297,333,620,295,325
23,Internationella skolor,414,225,189,.,.,.,.,.,.
24,Elever med svensk bakgrund,88383,43044,45339,88214,42961,45253,86799,42274,44525
25,Elever med utländsk bakgrund,31918,15488,16430,31488,15247,16241,30999,15066,15933
26,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Födda i Sverige,13927,6831,7096,13876,6807,7069,13709,6735,6974
28,"Födda utomlands, inv. före 2014",6431,3078,3353,6340,3025,3315,6269,2993,3276
29,"Födda utomlands, inv. 2014 el. senare",11560,5579,5981,11272,5415,5857,11021,5338,5683
30,Totalt exkl. nyinvandrade elever och okänd bak...,117503,57195,60308,117044,56952,60092,115254,56114,59140
31,Nyinvandrade elever,2799,1338,1461,2658,1256,1402,2544,1226,1318
32,Elever med okänd bakgrund,1067,510,557,1040,495,545,938,441,497
33,Föräldrarnas högsta utbildning2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Förgymnasial utbildning,6578,3197,3381,6575,3197,3378,6327,3091,3236
35,Gymnasial utbildning,36842,17909,18933,36810,17893,18917,35938,17488,18450
36,Eftergymnasial utbildning,74793,36473,38320,74283,36201,38082,73583,35871,37712
37,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Kort utbildning,18682,9215,9467,18628,9189,9439,18384,9073,9311
39,Lång utbildning,56111,27258,28853,55655,27012,28643,55199,26798,28401