Pandas series and dataframe

In [9]:
import pandas as pd

students_data = dict(business = 25, AI = 30, JS = 30, JAVA = 27)
students_data

{'business': 25, 'AI': 30, 'JS': 30, 'JAVA': 27}

In [8]:
series_program = pd.Series(students_data)
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [10]:
print(series_program)

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [12]:
series_program.iloc[0], series_program.iloc[-1]  # Works for index location

(np.int64(25), np.int64(27))

In [13]:
series_program.keys()

Index(['business', 'AI', 'JS', 'JAVA'], dtype='object')

In [16]:
print(series_program["AI"])

30

In [18]:
series_program["AI"] + 50

np.int64(80)

**Another series using list**

In [26]:
import random as rnd
rnd.seed(42)

dice_list = [rnd.randint(1,6) for _ in range(5)]
dice_list

[6, 1, 1, 6, 3]

In [27]:
dice_series = pd.Series(dice_list)
dice_series

0    6
1    1
2    1
3    6
4    3
dtype: int64

In [30]:
dice_series.min(), dice_series.max(), dice_series.mean()

(np.int64(1), np.int64(6), np.float64(3.4))

## Dataframe

analog of 2D numpy arrat with flexible row indicies and cool names

In [35]:
df_programs = pd.DataFrame(series_program, columns=("Num students",))
df_programs

          Num students
business            25
AI                  30
JS                  30
JAVA                27

In [47]:
# Create 2 series objects using dictionary
students = pd.Series(dict(AI = 25, NET = 30, APP = 30, Java = 27))
language = pd.Series(dict(AI = "Python", NET = "C#", APP = "Kotlin", Java = "Java"))

language

AI      Python
NET         C#
APP     Kotlin
Java      Java
dtype: object

In [46]:
students

AI      25
NET     30
APP     30
Java    27
dtype: int64

In [65]:
pd.DataFrame({"Students": students, "Language": language})

      Students Language
AI          25   Python
NET         30       C#
APP         30   Kotlin
Java        27     Java

In [64]:
import numpy as np

pd.DataFrame(
    {
        "Students": np.array((25, 30, 30, 27)),
        "Language": ["Phyton", "C#", "Kotlin", "Java"]
        },
        index = ["AI", ".NET", "APP", "Java"], 
    )

      Students Language
AI          25   Phyton
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [62]:
df_programs.index

Index(['business', 'AI', 'JS', 'JAVA'], dtype='object')

Data selection

In [77]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [ ]:
df_programs[["Language", "Students"]]

In [ ]:
df_programs["Language"]["NET"]

In [68]:
import numpy as np
import pandas as pd

# Create the DataFrame
df_programs = pd.DataFrame(
    {
        "Students": np.array((25, 30, 30, 27)),
        "Language": ["Python", "C#", "Kotlin", "Java"]
    },
    index=["AI", ".NET", "APP", "Java"]
)

# Accessing the index
print(df_programs.index)

# Accessing the "Students" column
print(df_programs["Students"])

# Accessing the "Language" column and the ".NET" row
print(df_programs.loc[".NET", "Language"])

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')
AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64
C#

## Indexers

In [72]:
df_programs.loc["Java"]

Students      27
Language    Java
Name: Java, dtype: object

In [73]:
df_programs.loc[["Java", "APP"]]

      Students Language
Java        27     Java
APP         30   Kotlin

In [74]:
df_programs.loc["AI": "APP"] # This work beacuse its in panas and based on numpy

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin

In [76]:
df_programs.iloc[1:3] ## Better with .loc than iloc

      Students Language
.NET        30       C#
APP         30   Kotlin

Masking

In [79]:
df_programs["Students"] > 25 ## Good function

AI      False
.NET     True
APP      True
Java     True
Name: Students, dtype: bool

In [80]:
df_programs[df_programs["Students"] >  25] ## Good function

      Students Language
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [81]:
df_programs.query("Students > 25") ## Good function

      Students Language
.NET        30       C#
APP         30   Kotlin
Java        27     Java